html, body {
	background: #020202;
	color: #f5f5f5;
	margin: 0; padding: 0;
	font-family: "PT Sans", "Open Sans", "Tahoma", "Verdana", Sans-Serif;
}

a {
	color: #f5f5f5;
}

h3 {
	font-weight: normal;
	margin: 0;
}

#container {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 600px;
	transform: translate(-50%, -50%);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 0;
}

#logo {
	height: 80px;
}

#provodach-text {
	width: 330px;
	display: block;
	margin: 0 auto;
}

#provodach-text path {
	color: #f5f5f5;
	fill: #f5f5f5;
}

#fullscreen-visuals {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	margin: 0; padding: 0;
	display: none;
}

#player-vis {
	z-index: -10;
	display: block;
	position: absolute;
	width: 600px;
	height: 100px;
}

.player-side-line-container {
	height: 100px;
	width: 200px;
	display: table-cell;
	vertical-align: middle; 
}

.player-side-line {
	display: inline-block;
	width: 200px;
	height: 2px;
	background: #f5f5f5;
}

#player-control {
	width: 200px;
	height: 100px;
	text-align: center;
	display: table-cell;
	cursor: pointer;
}

.player-control-icon, .player-control-icon svg {
	height: 100px;
	stroke: #f5f5f5;
}

#player-control-playing {
	display: none; /* by default state is paused */
}

#track {
	box-sizing: border-box;
	font-size: 14pt;
	text-align: center;
	margin-top: 20px;
}


.volume-dot {
	display: inline;
}

#settings, #settings-overlay {
	display: none;
}

#settings-icon {
	height: 30px;
	display: block;
	stroke: #f5f5f5;
	fill: #f5f5f5;
	margin: 0 auto;
	margin-top: 20px;
	cursor: pointer;
}

#footer {
	font-size: 11pt;
	text-align: center;
	box-sizing: border-box;
	margin-top: 20px;
}

#settings-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(128, 128, 128, 0.6);
	z-index: 999;
}

#settings {
	z-index: 1000;
	background: #020202;

	position: absolute;
	left: 50%;
	top: 50%;
	width: 600px;
	transform: translate(-50%, -50%);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 11pt;
}

#settings-header {
	box-sizing: border-box;
	padding: 10px;
	border-bottom: 1px solid #f5f5f5;
	height: 40px;
}

#settings-header-text {
	float: left;
	font-size: 14pt;
	margin-top: -4px;
}

#settings-close-button {
	width: 20px;
	height: 20px;
	display: block;
	float: right;
	cursor: pointer;
}

#settings-content {
	box-sizing: border-box;
	padding: 10px;
}

#volume-gauge-container {
	width: 100%;
	height: 5px;
	background: #707070;
	margin-top: 5px;
	margin-bottom: 10px;
}

#volume-gauge {
	height: 100%;
	background: #f5f5f5;
}

.checkbox {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.checkbox-box {
	height: 15px;
	width: 15px;
	box-sizing: border-box;
	border: 2px solid #f5f5f5;
	display: inline-block;
    vertical-align: middle;
	margin-top: -2px;
}

.checkbox-box.active {
	background: #f5f5f5;
}